body {
  background-color: [blue];
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: [firebrick];
    text-align: center;
    
}

.about {
  background-color: firebrick;
  padding: 10px;
}

.skills {
  background-color: firebrick;
  padding: 10px;
}

.projects {
  background-color: firebrick;
  padding: 10px;
}

.contact {
  background-color: firebrick;
  padding: 10px;
}

.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: green; 
border-radius: 25%;
}