body {
  background-color: [blue];
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: [firebrick];
    text-align: center;
    
}
h3 {
  text-align: center;
}

.about {
  background-color: firebrick;
  padding: 10px;
}

.skills {
  background-color: firebrick;
  padding: 10px;
}

.projects {
  background-color: firebrick;
  padding: 10px 10px;
  
}

.contact {
  background-color: firebrick;
  padding: 10px;
}

#affinityimage {
  display: block;
  text-align: center;
  width: 500px;
  height: auto;
  margin: auto;
}

#pixelprison-img {
  width: 180px;
  height: auto;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}
/* I already have a .projects, so I did not add the information from week 7 *\